/* Cabeçalho e menu de navegação recursivo */
#header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 90px;
  border-bottom: 1px solid black;
  margin-bottom: 20px;
}

.elementos {
  height: 100%;
  margin: 0%;
  display: flex;
  justify-content: space-evenly;
  list-style: none;
  padding-top: 10px;
  padding-bottom: 10px;
  color: black;
  font-weight: 500;
  font-size: 15px;
  font-family: "Verdana";
  background-color: white;
  transition: 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.linhas {
  cursor: pointer;
}

.span {
  width: 30px;
  height: 4px;
  background-color: black;
  margin-bottom: 5px;
  border-radius: 2px;
  transition: 0.5s cubic-bezier(0.23, 1, 0.32, 1);
}

.botao {
  display: none;
}

@media (max-width: 450px) {
  .elementos {
    flex-direction: column;
    align-items: center;
    position: fixed;
    margin: 0;
    padding: 20px;
    width: 35%;
    height: 100%;
    transform: translateX(300%);
  }
}

@media (max-width: 450px) {
  .botao {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-left: 20px;
    padding-top: 20px;
  }
}

.barra-lateral {
  transform: translateX(0px);
}

.linha-0 {
  transform: rotate(45deg) translate(4.5px, 12px);
}

.linha-1 {
  transform: scale(0);
}

.linha-2 {
  transform: rotate(-45deg) translateY(-7.5px);
}

#section p {
  border-bottom: 3px solid black;
  padding: 30px;
}
#header ul > li {
  padding: 10px;
}
#header-logo {
  padding: 10px;
  font-size: large;
}

/* Seção inicial da pagina */

#section1 {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#section1 img {
  width: 100%;
}

#section1 > h1 {
  font-family: "Times New Roman", Times, serif;
  font-size: 35px;
  text-align: center;
  width: 75%;
}
@media (max-width: 450px) {
  #section1 img {
    max-width: 100%;
  }

  #section1 > h1 {
    font-family: "Times New Roman", Times, serif;
    font-size: 35px;
    text-align: center;
    width: 100%;
  }
}

/* Seção do conteúdo do post */
#section-post {
  display: flex;
  align-items: center;
  flex-direction: column;
}
#section-post p,
ul {
  max-width: 500px;
  text-align: justify;
  padding-inline-start: 0px;
}
#section-post ul li {
  margin: 20px;
}
#section-post h2 {
  text-align: left;
}
#author-perfil {
  display: flex;
  border-top: 2px solid black;
  width: 500px;
  align-content: center;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 20px;
  margin-bottom: 20px;
}

figcaption {
  text-align: center;
  max-width: 50%;
  margin: auto;
  font-weight: bold;
  margin: auto;
  margin-top: 10px;
}

@media (max-width: 450px) {
  #section-post p {
    max-width: 80%;
    text-align: left;
  }
  #post-image {
    width: 100%;
  }
  #author-perfil {
    width: 100%;
    justify-content: space-around;
  }
  figure {
    margin: 0%;
  }
  #section-post ul {
    width: 80%;
  }
}

#author-contact {
  display: flex;
  flex-direction: column;
  max-width: 500px;
}
#socialMedia-buttons {
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
  padding: 10px;
}
#author-contact > p {
  border-bottom: 1px dotted black;
  padding: 30px;
  max-width: 500px;
  margin-bottom: 20px;
  font-weight: bold;
}
#about-author {
  display: flex;
  flex-direction: row;
  align-items: center;
  max-width: 500px;
  margin-bottom: 20px;
}
#about-author > * {
  margin: 10px;
}

/* Rodapé da página  */

#footer {
  background-color: black;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 464px;
  text-align: center;
}
#footer * {
  margin: 10px;
}

#footer ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  padding: 10px;
  font-size: 20px;
}

#footer p {
  max-width: 500px;
}
